<!--terms.html-->
{% extends 'base.html' %}
{% load static %}
{% block title %} Terms of Use {%endblock%}
{%block meta_description%} defkode's Terms of Use {% endblock%}
{% block main %}

  <div class="container terms">
    <h1>Terms of Use</h1>
    <h2>1. Terms</h2>
    <p>By accessing defkode, you are agreeing to be bound by these Terms of Use, all applicable laws and regulations,
      and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any
      of these terms, you are prohibited from using or accessing this site.
      The materials contained in defkode are protected by applicable copyright and trademark law.</p>
    <h2>2. Disclaimer</h2>
    <p>The materials on the defkode’s website are provided 'as is'. defkode makes no warranties, expressed or implied, and hereby disclaims and negates all other warranties, including without limitation, implied warranties or conditions of merchantability, fitness for a particular purpose, or non-infringement of intellectual property or other violation of rights. Furthermore, defkode does not warrant or make any representations concerning the accuracy, likely results, or reliability of the use of the materials on its website or otherwise relating to such materials or on any sites linked to this site.</p>
    <h2>3. Limitations</h2>
    <p>In no event shall defkode be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption) arising out of the use or inability to use the materials on the defkode’s website, even if defkode or an authorized of the defkode has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
    <h2>4. Revisions and Errata</h2>
    <p>The materials appearing on the defkode’s website may include technical, typographical, or photographic errors. defkode does not warrant that any of the materials on its web site are accurate, complete, or current. defkode may make changes to the materials contained on its web site at any time without notice. defkode does not, however, make any commitment to update the materials.</p>
    <h2>5. Links</h2>
    <p>defkode has not reviewed all of the sites linked to its website and is not responsible for the contents of any such linked site. The inclusion of any link does not imply endorsement by defkode on the site. Use of any such linked website is at the user's own risk.</p>
    <h2>6. Modifications of Terms of Use</h2>
    <p>defkode may revise these Terms of Use for its website at any time without notice. By using this website you are agreeing to be bound by the then current version of these Terms of Use.</p>
    <h2>7. Governing law</h2>
    <p>Any claim relating to the defkode’s website shall be governed by the laws of the defkode Owner’s home jurisdiction without regard to its conflict of law provisions.</p>

  </div>


{% endblock %}
