.skills {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.skills-items {
  color: white;
  margin: 3.5rem 6rem;
  background-color: #0077cc;
  height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.skills-items-slider {
  text-align: center;
}

.skills-item > h2{
  overflow-wrap: break-word;
}

@media screen and (max-width:700px) {
  .skills-item > h2{
    font-size:medium;
  }
}
@media screen and (max-width:414px) {
  .skills-items{
    height: 20rem;
  }
  .skills-items .skills-item{
    margin: 0 2rem;
  }
  .skills-item > h2,p{
    font-size:small;
  }
}

.title {
  text-align: center;
  font-size: bold;
  font-size: 2rem;
  margin: 1.25rem 0;
  padding: 2rem 1rem;

}

.skills-title{
    color: white;
}


